{{include file="Public:header" /}}
{{include file="Public:header_detail_inc" /}}
<script >
var _click;
if('ontouchstart' in window){
   _click = "touchstart"
}else{
   _click = "click"
}
jQuery.MapConvert = {
    x_pi: 3.14159265358979324 * 3000.0 / 180.0,
    Convert_GCJ02_To_BD09: function (point) {
        var x = point.lng, y = point.lat;
        var z = Math.sqrt(x * x + y * y) + 0.00002 * Math.sin(y * jQuery.MapConvert.x_pi);
        var theta = Math.atan2(y, x) + 0.000003 * Math.cos(x * jQuery.MapConvert.x_pi);
        point.lng = z * Math.cos(theta) + 0.0065;
        point.lat = z * Math.sin(theta) + 0.006;
    },
    Convert_BD09_To_GCJ02: function (point) {
        var x = point.lng - 0.0065, y = point.lat - 0.006;
        var z = Math.sqrt(x * x + y * y) - 0.00002 * Math.sin(y * jQuery.MapConvert.x_pi);
        var theta = Math.atan2(y, x) - 0.000003 * Math.cos(x * jQuery.MapConvert.x_pi);
        point.lng = z * Math.cos(theta);
        point.lat = z * Math.sin(theta);
        return {
            "lng" : point.lng,
            "lat" : point.lat
        }
    }
}
$(function(){
    var point = jQuery.MapConvert.Convert_BD09_To_GCJ02({lat:"{{$resPage.lat|number_format=5}}",lng:"{{$resPage.lng|number_format=5}}"})
    var _name = encodeURIComponent("{{$resPage.store_name}}");
    var _addr = encodeURIComponent("{{$resPage['address']}}");
    //var map_str = "http://map.qq.com/mobile/?type=marker&isopeninfowin=1&markertype=1&name="+_name+"&addr="+_addr+"&pointy="+point.lat+"&pointx="+point.lng;
    //&key=TKUBZ-D24AF-GJ4JY-JDVM2-IBYKK-KEBCU
    var map_str = "http://3gimg.qq.com/lightmap/v1/marker/?marker=coord%3A"+point.lat+"%2C"+point.lng+"&nodata_redirect=1";

//http://map.qq.com/m/mqq/nav/eword=%E6%B3%B0%E7%84%B6%E5%9B%9B%E8%B7%AF&epointx=114.030208&epointy=22.534537&noback=?from=light-app&ref=groupActivity


    $(".gps-map").on(_click,function(){
        window.location.href = map_str;
    })
})


</script>
        <section class="ui-container index-block">
           
            <section id="list">
                <div>
                    <div >
                        
                        <ul class="ui-list ui-list-pure mar-v-10">
                            {{notempty name="resPage['logo']"}}
                            <li style="text-align:center;">
                                <div class="ui-avatar-lg" style="display:inline-block;">
                                    <span style="background-image:url({{$resPage['logo']|showPic}});
                                    background-size:contain;"></span>
                                </div>
                            </li>
                            {{/notempty}}
                            <!--li>
                                <i class="ui-icon-history"></i> {{$resPage['time_add']|date='Y/m/d',###}}
                                <i class="ui-icon-scan"></i> {{$resPage['view_count']}} 人气
                            </li-->
                            <li class="gps-map" style="padding-right:0;position:relative;">
                                
                                <p style="padding-right:60px;">
                                    <i class="fa fa-home" style="color:#f74c31;"></i>&nbsp;
                                    {{$resPage['address']}}</p>
                                 <button class="ui-btn-s ui-btn-primary"
                                  style="position:absolute;right:0;top:0;"><i class="fa fa-map-marker" ></i> 导航 </button>                           </li>
                        </ul>
                    </div>
                </div>
                <div class="content-warper" style="padding:10px;">
                    <h1 style="font-size:18px;font-weight:bold;color:#0baae4;margin-bottom:10px;">门店描述：</h1>
                    <section style="text-indent:24px;">
                        {{$resPage['content']}}
                    </section>
                 </div>

                
            </section>
            


        </section><!-- /.ui-container-->
<!--loading-->

{{include file="Public:footer" /}}
