{{include file="Public:header" /}}
<style>body{padding-bottom:80px;}.ui-label{padding:0 10px;border-radius:2px;}
.ui-form-item .fa {border-radius: 50%;background-color: #00b7ee;line-height: 22px;
    width: 22px;height: 22px; text-align: center;font-size: 14px;color: #fff;}
.fa.bg-eb6100 {    background-color: #eb6100;} 
.ui-form-item .ui-fa-r {position:absolute;top:5px;right:10px;}
#cylinderForm .ui-form-item {font-size:15px;}
</style>
<script src="__STATIC__/jquery-upload-file/js/jquery.form.js" type="text/javascript"></script>
<script src="__STATIC__/validation/jq.validation.js" type="text/javascript"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak={{$map_baidu_key}}"></script>
<script>baidu_map_ak = "{{$map_baidu_key}}"</script>
<script src="__PUBLIC__/Home/js/cylinder.js?r={{:mt_rand()}}" type="text/javascript"></script>
    <body ontouchstart style="background-color:#f9f9f9;">
      <h3 class="" style="padding:30px 0;text-align:center;height: 125px;position:relative;
      border-bottom:1px solid #999;
      background:url(__PUBLIC__/Home/img/banner.jpg) no-repeat center;background-size:cover;">
        <span class="ui-avatar-lg" 
        style="display:inline-block;position:absolute;bottom:-35px;left:50%;margin-left:-35px;">
            <img src="{{if condition="$my_info['head_img'] neq ''"}}{{$my_info.head_img|showPic}}{{else/}}__PUBLIC__/Home/img/head_img.png{{/if}}" style="max-width:100%;" >
        </span>
      </h3>

      <div class="ui-form ui-border-t" style="margin-top:38px;position:relative;">
        <div class="ui-badge btn-car-mine"
         style="position:absolute;top:-27px;font-size:15px;background-color:#00b7ee;
        right:0px;padding:5px 15px;height:auto;border-radius:0;">我的爱车</div>
        <form action="?" method="post" id="cylinderForm">
            <div class="ui-form-item ui-form-item-l ui-border-b">
                <label class="ui-border-r">
                     车牌号码
                </label>
                <input type="text" name="plate_num" placeholder="您的车牌号码"
                 value="{{$lastOrder['plate_num']}}">
                <i class="fa fa-tag ui-fa-r"></i>
            </div>
            <div class="ui-form-item ui-form-item-l ui-border-b">
                <label class="ui-border-r">
                     您的称呼
                </label>
                <input type="text" name="nickName" 
                value="{{$lastOrder['nickName']}}" placeholder="怎么称呼您">
                <i class="fa fa-user ui-fa-r"></i>
            </div>
            
            <div class="ui-form-item ui-form-item-l ui-border-b">
                <label class="ui-border-r">
                     联系手机
                </label>
                <input type="text" name="mobile" 
                value="{{$lastOrder['mobile']}}" placeholder="您的联系电话">
                <i class="fa fa-phone-square ui-fa-r"></i>
            </div>
            
            <div class="ui-form-item ui-form-item-l ui-border-b">
                <label >
                    <i class="fa fa-car bg-eb6100"></i> 选择爱车
                </label>
                <input type="text" name="text_series" readonly="true" class="pop-brand"
                 value="{{$lastOrder['text_series']}}" placeholder="请选择您的爱车">
                 <input type="hidden" name="car_series" value="{{$lastOrder['car_series']}}" />
                 <input type="hidden" name="car_brand" value="{{$lastOrder['car_brand']}}" />
            </div>
            <div class="ui-form-item ui-form-item-l ui-border-b">
                <label >
                    <i class="fa fa-map-marker bg-eb6100"></i> 选择门店
                </label>
                <div class="ui-select">
                        <select name="store_id" id="stores">
                            <option >请选择门店名称</option>
                            {{volist name="resStore.lists" id="r"}}
                            <option value="{{$r.id}}"
                             lat="{{$r.lat}}" lng="{{$r.lng}}">{{$r['store_name']}}</option>
                            {{/volist}}
                        </select>
                </div>
            </div>
            <div class="ui-label-list ui-border-b cylinder_tag"
             style="padding:10px 0;text-align:center;">
                <!--ckey 改为0则默认选中-->
                {{assign name="ckey" value="1" /}}
                {{volist name="resCarCylinder" id="r"}}
                <label class="ui-label 
                {{eq name='ckey' value='0'}}ui-tag-selected{{/eq}}"
                 data-id="{{$r['key']}}">{{$r['title']}}</label>
                 <?php $ckey++;?>
                {{/volist}}
                <input type="hidden" name="cylinder_id" value="{{$cylinder_id}}"> 
            </div>
            <div class="ui-form-item ui-form-item-l ui-border-b">
                <label class="ui-border-r">
                   <i class="fa fa-cny"></i> 合计：
                </label>
                <input type="text" name="amount"  placeholder="0" readonly="true">
                </a>
            </div>
            <input type="hidden" name="action" value="post_order" />
            <div class="ui-btn-wrap" style="text-align:center;">
                <input type="submit" class="ui-btn ui-btn-primary" value="确认下单" />
            </div>
        </form>
    </div>

<script>
$(function(){
    cy_obj.index();
    var _func = function(_obj){
        $("input[name=text_series]").val(_obj.seriesTitle);
        $("input[name=car_brand]").val(_obj.brand);
        $("input[name=car_series]").val(_obj.series);
    }
    car_brand.init(_func);
    $(".pop-brand").on("click",function(){
        car_brand.pop_brand();
    })
    var _funcCar = function(_obj){
        $("input[name=plate_num]").val(_obj.plateNum);
        $("input[name=text_series]").val(_obj.seriesTitle);
        $("input[name=car_brand]").val(_obj.brand);
        $("input[name=car_series]").val(_obj.series);
        car_mine.hide_car();
    }
    car_mine.init(_funcCar);
    $(".btn-car-mine").on("click",function(){
        car_mine.pop_car();
    })
})
</script>
{{include file="Public:car_brand_inc" /}}  
{{include file="Public:car_mine_inc" /}} 
{{include file="Public:footer" /}}




