{{layout name="Public/layout" /}}
<script type="text/javascript" src="__PUBLIC__/Admin/js/Member.js"></script>
<script type="text/javascript">
    $(function(){
        pic_extra.index();
    })
    
</script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <a href="javascript:;"><button class="btn btn-primary btn-xs"> 幻灯片/图片</button></a>
    </h1>
    <ol class="breadcrumb">
        <li class="active">列表</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">列表</h3>
            <div class="box-tools">
                <div class="input-group">
                    <form action="{{:U('/Picextra/index')}}" method="get">
                    <input type="text" name="keyword" value='{{$keyword}}'
                           class="form-control input-sm " style="width: 150px;" placeholder="Search">
                    <div class="input-group-btn ">
                        <i class="fa fa-search"></i><input type='submit' class="btn btn-sm btn-default" />
                    </div>
                    </form>
                </div>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody><tr>
                        <th>KEY</th>
                        <th>标题</th>
                        <th>图片</th>
                        <th>操作</th>
                    </tr>
                    {{volist name="resList.lists" id="r"}}
                    <tr>
                        <td>{{$r.key}}</td>
                        <td>{{$r.title}}</td>
                        <td>
                            {{volist name="r.pic_arr" id="v"}}
                            <img src="{{$v|showPic}}" style="height:50px;border-radius:3px;margin:0 2px;" />
                            {{/volist}}
                        </td>
                        <td><a class='fa fa-pencil' data-toggle="tooltip" title="编辑" href="{{:U('/Picextra/pic_edit/',array('key'=>$r['key']))}}"></a>
                            &nbsp;&nbsp;<!--span data-toggle="tooltip" title="删除" class='fa fa-remove list-delete' _id='{{$r.id}}'></span--></td>
                        
                    </tr>
                    {{/volist}}
                </tbody></table>
        </div><!-- /.box-body -->
    </div>


</section><!-- /.content -->