{{layout name="Public/layout" /}}
<script type="text/javascript" src="__PUBLIC__/Admin/js/pic_extra.js"></script>
<script type="text/javascript">
    $(function(){
        pic_extra.extra();
        
    })
</script>
<style>
.btn-move-next {position:absolute;right:5px;bottom:5px;padding:5px;display:none;
    background-color:#f4f4f4;border:1px solid #333;border-radius:5px;cursor:pointer;}
.multi-section:hover .btn-move-next {display:block;}
</style>
<section class="content-header">
    <h1>
        <a href="/Picextra/index"> <button class="btn btn-primary btn-xs"> < 返回图片列表</button></a>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 幻灯片/图片</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class="box box-primary" style="overflow:hidden;">

        <!-- form start -->
        <form id="wikiForm" action="?" method="POST">

            <div class="box-body">
                <div class="col-lg-12">
                    <div class='form-group'>
                        <label for="title"><button type="button" class="btn btn-primary image_select">
                            <span>选择图片(500*180)</span>
                        </button></label>
                        <div class="case_logo img_div_warp" id="image-warp">
                            <section class="clone multi-section" style="width:auto;">
                                <a href="javascript:void(0)" class="thumbnail" target="_blank">
                                  <img src=""  style="width:auto"/>
                                  <i class="fa fa-remove act-remove"></i>
                                </a>
                                <i class="fa fa-chevron-right btn-move-next">向后移</i>
                            </section>
                            {{notempty name="resPage.pic_arr" }}
                            {{volist name="resPage.pic_arr" id="v"}}
                            <section class="multi-section" style="width:auto;">
                                <a href="javascript:void(0)" class="thumbnail" target="_blank">
                                  <img src="{{$v|showPic}}"  style="width:auto"/>
                                  <i class="fa fa-remove act-remove"></i>
                                </a>
                                <i class="fa fa-chevron-right btn-move-next">向后移</i>
                            </section>
                            {{/volist}}
                            {{/notempty}}
                        </div>
                        <div id="logo" class="files w-500"></div>
                        
                        <input type="hidden" name="pic_str"
                               value="{{notempty name='resPage.pic_str' }}{{$resPage.pic_str}}{{/notempty}}"
                               style="width:100%;height:100%;"  />
                    </div>
                    <div class="form-group">
                        <label for="title">标题</label>
                        <input type="text" class="form-control w-300"
                               value="{{$resPage.title}}" 
                               name="title" id="title" required placeholder="填写标题">
                    </div>
                    
                </div>
                
            </div><!-- /.box-body -->
            <input type="hidden" name='action' value='edit_pic' />
            <input type="hidden" name='key' value='{{$resPage["key"]}}' />
            <div class="box-footer text-center">
                <button type="submit" class="btn btn-primary">提交</button>
                <button type="reset" class="btn btn-info">重置</button>
            </div>

        </form>
    </div>
</section><!-- /.content -->
{{include file='./App/Common/Tpl/fileupload_backend.tpl.html' /}}
