{{include file="Public:header" /}}
<script src="__PUBLIC__/Home/js/article.js" type="text/javascript"></script>

        
        {{include file="Public:header_inc" /}}
        
        <section class="ui-container index-block">
            
            <section id="list">
               
                <ul class="ui-list ui-list-link ui-border-b ui-list-article">
                    {{empty name="resList.lists"}}
                    <li class="ui-tips ui-tips-warn">
                        <i></i><span>暂时没有资讯</span>
                    </li>
                    {{/empty}}
                    {{volist name="resList.lists" id="r"}}
                    <li class="ui-border-t index-article-li">
                        <div class="ui-list-img">
                            <span style="background-image:url({{$r.logo|showPic}})"></span>
                        </div>
                        <div class="ui-list-info">
                            <h4 class="ui-nowrap">
                                <a href="{{:U('/Article/detail',array('id'=>$r['id']))}}"
                                   title="{{$r['title']}}">{{$r['title']}}</a></h4>
                            <p class="ui-nowrap">{{$r.time_show|date='y-m-d',###}}</p>
                        </div>
                    </li>
                    {{/volist}}
                </ul>
               
                <div style="display:none;">{{$resList.show}}</div>
                
            </section>
            


        </section><!-- /.ui-container-->
        <script src="__STATIC__/infinitescroll/jquery.infinitescroll.js" type="text/javascript"></script>
<script>
$(function(){
    article.index();
})
</script> 
{{include file="Public:footer" /}}
