{{empty name="hide_menu_bottom"}}
{{notempty name="showBtnSubscribe"}}
<div class="ui-btn btn-scribe-foot"><a href="http://mp.weixin.qq.com/s?__biz=MzI5MzE4NDYwOA==&mid=506181413&idx=1&sn=e2dbc47fc81dde99b9bc0ab01a30e9a7#rd">关注我们</a></div>
{{/notempty}}
<footer class="ui-footer ui-footer-btn">
            <ul class="ui-tiled ui-border-t menu-footer">
                
                <li data-href="{{:U('/Index')}}" class="act-all {{eq name='CTR_NAME' value='Index'}}curr{{/eq}}"><i class="fa fa-home"></i><div><span>首页</span></div></li>
                <li data-href="{{:U('/Merchants')}}" class=" act-mine {{eq name='CTR_NAME' value='Merchants'}}curr{{/eq}}"><i class="fa fa-calendar"></i><div><span>门店</span></div></li>
                <li data-href="{{:U('/Cylinder')}}" class="act-scan {{eq name='CTR_NAME' value='Cylinder'}}curr{{/eq}}"
                 id="qr-scan"><i class="fa fa-tint"></i><div><span>{{$CLEAN_PRO['title_s']}}</span></div></li>
                <li data-href="{{:U('/Article')}}" class=" act-all {{eq name='CTR_NAME' value='Article'}}curr{{/eq}}"><i class="fa fa-newspaper-o"></i><div><span>资讯</span></div></li>
                <li data-href="{{:U('/My')}}" class="act-setting  {{eq name='CTR_NAME' value='My'}}curr{{/eq}}"><i class="fa fa-user"></i><div><span>我的</span></div></li>
            </ul>
        </footer>
{{/empty}}
</body>
{{include file='Public:footer_inc' /}}
</html>