<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit" />
        <meta name="format-detection" content="telephone=no">
        <title>{{$seo_title|default="$title"}}</title>
        <meta name="description" content="{{$seo_description}}" />
        <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
        <link href="__STATIC__/frozen/css/frozen.css" rel="stylesheet"  rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/static/font-awesome/4.2.0/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="__PUBLIC__/Home/css/style.css" rel="stylesheet" type="text/css"/>
        <script src="__STATIC__/jquery/jquery-1.11.3.min.js"></script>
        <script src="__STATIC__/frozen/js/frozen.js"></script>
    </head>
<body itokit-img="{{$share_img|default='/Public/static/common/img/logo_min.png'}}"
      itokit-url="" itokit-title="{{$seo_title|default="$title"}}" itokit-desc="">