{{include file="Public:header" /}}
<style>
html {
    -webkit-font-smoothing: antialiased; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
.ui-slider-content span {background-size:cover;}
.body-warp {visibility:hidden;}
</style>
<script src="__PUBLIC__/Home/js/index.js" type="text/javascript"></script>
    <body ontouchstart style="background-color:#F0FDD4;">
<div class="body-warp">    
    <section class="rotate-module"> 
        <dl class="rotate-module-in">    
            <dt class="rotate-img"><img draggable="false"
             src="__PUBLIC__/Home/img/rotate_module.png" /></dt> 
            
            <dd id="rotate-blk" class="rotate-blk">
                <div class="link-i-com abs-rotate"><a 
                    href="{{:U('/Page/index/key/company')}}">&nbsp;</a></div>
                <div class="link-i-store abs-rotate"><a href="{{:U('/Merchants')}}">&nbsp;</a></div>
                <div class="link-i-product abs-rotate"><a 
                    href="{{:U('/Page/index/key/product')}}">&nbsp;</a></div>
                <div class="link-i-contact abs-rotate"><a 
                    href="{{:U('/Page/index/key/contact')}}">&nbsp;</a></div>
                <div class="link-i-help abs-rotate"><a href="{{:U('/Page/index/key/help')}}">&nbsp;</a></div>
                <div class="link-i-article abs-rotate"><a href="{{:U('/Article')}}">&nbsp;</a></div>
                <div class="link-i-form abs-rotate"><a href="{{:U('/Cylinder')}}">&nbsp;</a></div>
            </dd>
            <dd class="rotate-id-img"><img src="__PUBLIC__/Home/img/rotate_warp.png"
            width="100%" id="rotate-img" /></dd>
        </dl>
    </section><!-- /.ui-container-->
    
</div>
{{include file="Public:footer" /}}
<script src="__STATIC__/jquery/touch.js"></script>
<script>
$(function(){
    var el=$.loading({content:'loading...',})
    setTimeout(function(){
        el.hide();
        _h = parseFloat($(window).height()),_hrote = parseFloat($('.rotate-module').height());
        $('.rotate-module').css({"margin-top":(_h - _hrote)/2});
        $(".body-warp").css({"visibility":"visible"});
        $("#rotate-img").css({"webkitTransition":"All 0.4s ease-in-out"});
    },1000)
    
    var angle = 0,startY,startX,startRot = true;
    touch.on('#rotate-img', 'touchstart', function(ev){
        ev.startRotate();
        ev.preventDefault();
        if(typeof(ev.changedTouches)!='undefined'){
            startY = ev.changedTouches[0].pageY;
            startX = ev.changedTouches[0].pageX;
        }else{
            startY = ev.pageY;
            startX = ev.pageX;
        }
        
    });
    touch.on('#rotate-img','touchend',function(ev){
        if(typeof(ev.changedTouches)!='undefined'){
            _touches = ev.changedTouches[0];
        }else{
            _touches = ev;
        }
        if ((Math.abs(_touches.pageY - startY) < 5)&&
            (Math.abs(_touches.pageX - startX) < 5)) {
            $.each($(".abs-rotate a"),function(i,n){
                var _h = parseFloat($(n).height()),_w = parseFloat($(n).width()),
                _x = $(n).offset().left,_y = $(n).offset().top;
                var _py = _touches.pageY,_px = _touches.pageX;
                //console.log("h:"+_h + "w:"+_w + "x:"+_x + "y:"+_y + "py:"+_py + "px:"+_px)
                if(_x <= _px && (_x + _w) > _px && _y <= _py && (_y + _h) > _py){
                    if($(n).parent().hasClass("link-i-form")){
                        $(".rotate-img").addClass("click_down");
                        
                        setTimeout(function(){
                            $(".rotate-img").removeClass("click_down");
                            window.location.href = $(n).attr("href");
                        },500);
                    }else{
                        window.location.href = $(n).attr("href");
                    }
                }
            })
            setTimeout(function(){ev.target.click();},100)
        }else{
            $(".rotate-blk").css({"z-index":0});
        }
    })

    touch.on('#rotate-img', 'rotate', function(ev){
        _rotate = Math.abs(ev.rotation);
        _rotate = _rotate > 360?_rotate:_rotate*2;
        //console.log(ev.rotation + "_rotate:" + _rotate)
        if(ev.direction === 'left'){
            _rotate = -_rotate;
        }
        var totalAngle = angle + _rotate;
        if(ev.fingerStatus === 'end'){
            angle = totalAngle;
        }
        var _rotateObj = document.getElementById("rotate-img");
        var _rotateBlk = document.getElementById("rotate-blk");
        //$("#rotate-blk-2").css({"webkitTransform":"rotate(" + totalAngle  + "deg)"});
        _rotateObj.style.webkitTransform = 'rotate(' + totalAngle + 'deg)';
        _rotateBlk.style.webkitTransform = 'rotate(' + totalAngle + 'deg)';
        //this.style.webkitTransform = 'rotate(' + totalAngle + 'deg)';
    });

})

</script>   




