{{include file="Public:header" /}}
  <body class="skin-blue-light sidebar-mini">
    <div class="wrapper">
      
      {{include file="Public:header_nav" /}}
      <!-- Left side column. contains the logo and sidebar -->
      
      {{include file="Public:sidebar" /}}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        {{__REPLACE__}}
      </div><!-- /.content-wrapper -->
      {{include file="Public:footer_inc" /}}
      
    </div><!-- ./wrapper -->
{{include file="Public:footer" /}}