<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">系统管理导航 </li>
<!--            <li class="{{eq name='CTR_NAME' value='Website'}}active{{/eq}} treeview">-->
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>官网</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li {{if condition='"__ACTION__" eq "/Website/site_base"'}} class="active" {{/if}}>
                    <a href="{{:U('/Website/site_base')}}"><i class="fa fa-ellipsis-h"></i> 基础信息</a></li>
                <li {{if condition='"__ACTION__" eq "/Website/article"'}} class="active" {{/if}} >
                    <a href="{{:U('/Website/article')}}"><i class="fa fa-ellipsis-h"></i> 新闻资讯管理</a></li>
                <li {{if condition='"__ACTION__" eq "/File/index"'}} class="active" {{/if}} >
                    <a href="{{:U('/File/index')}}"><i class="fa fa-ellipsis-h"></i> 资源管理</a></li>
                <li {{if condition='"__ACTION__" eq "/Service/index"'}} class="active" {{/if}} >
                    <a href="{{:U('/Service/index')}}"><i class="fa fa-ellipsis-h"></i> 售后反馈</a></li>
                
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-user"></i> <span>用户中心</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li {{if condition='"__ACTION__" eq "/Member/index"'}} class="active" {{/if}} >
                    <a href="{{:U('/Member/index')}}"><i class="fa fa-ellipsis-h"></i> 用户管理</a></li>
                <li {{if condition='"__ACTION__" eq "/Order/index"'}} class="active" {{/if}} >
                    <a href="{{:U('/Order/index')}}"><i class="fa fa-ellipsis-h"></i> 订单管理</a></li>
                
                
              </ul>
            </li>
            
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>