<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">系统管理导航 </li>
<!--            <li class="{{eq name='CTR_NAME' value='Website'}}active{{/eq}} treeview">-->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>官网</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li {{if condition='"__ACTION__" eq "/Website/site_base"'}} class="active" {{/if}}>
                    <a href="{{:U('/Website/site_base')}}"><i class="fa fa-ellipsis-h"></i> 基础信息</a></li>
                <li {{if condition='"__ACTION__" eq "/Website/article"'}} class="active" {{/if}} >
                    <a href="{{:U('/Website/article')}}"><i class="fa fa-ellipsis-h"></i> 新闻资讯管理</a></li>
                <li {{if condition='"__ACTION__" eq "/File/index"'}} class="active" {{/if}} >
                    <a href="{{:U('/File/index')}}"><i class="fa fa-ellipsis-h"></i> 资源管理</a></li>
                <li {{if condition='"__ACTION__" eq "/Service/index"'}} class="active" {{/if}} >
                    <a href="{{:U('/Service/index')}}"><i class="fa fa-ellipsis-h"></i> 售后反馈</a></li>
                <li {{if condition='"__ACTION__" eq "/Page/index"'}} class="active" {{/if}} >
                    <a href="{{:U('/Page/index')}}"><i class="fa fa-ellipsis-h"></i> 单页面管理</a></li>
                <li {{if condition='"__ACTION__" eq "/Picextra/index"'}} class="active" {{/if}} >
                    <a href="{{:U('/Picextra/index')}}"><i 
                      class="fa fa-ellipsis-h"></i> 幻灯片管理</a></li>    
                
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-user"></i> <span>用户中心</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li {{if condition='"__ACTION__" eq "/Member/index"'}} class="active" {{/if}} >
                    <a href="{{:U('/Member/index')}}"><i class="fa fa-ellipsis-h"></i> 用户管理</a></li>
                <li {{if condition='"__ACTION__" eq "/Order/index"'}} class="active" {{/if}} >
                    <a href="{{:U('/Order/index')}}"><i class="fa fa-ellipsis-h"></i> 订单管理</a></li>
                <li {{if condition='"__ACTION__" eq "/Coupon/index"'}} class="active" {{/if}} >
                    <a href="{{:U('/Coupon/index')}}"><i class="fa fa-ellipsis-h"></i> 优惠券管理</a></li>
                
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-map-marker"></i> <span>区域覆盖</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li {{if condition='"__ACTION__" eq "/Merchant/index"'}} class="active" {{/if}} ><a href="{{:U('/Merchant/index')}}"><i class="fa fa-ellipsis-h"></i> 门店管理</a></li>
                <li {{if condition='"__ACTION__" eq "/Price/index"'}} class="active" {{/if}} ><a href="{{:U('/Price/index')}}"><i class="fa fa-ellipsis-h"></i> 定价管理</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-wechat"></i> <span>微信相关</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li {{if condition='"__ACTION__" eq "/Wechat/menu"'}} class="active" {{/if}} ><a href="{{:U('/Wechat/menu')}}"><i class="fa fa-ellipsis-h"></i> 微信菜单</a></li>
                <li {{if condition='"__ACTION__" eq "/Wechat/news"'}} class="active" {{/if}} ><a href="{{:U('/Wechat/news')}}"><i class="fa fa-ellipsis-h"></i> 多图文</a></li>
                <li {{if condition='"__ACTION__" eq "/Wechat/link"'}} class="active" {{/if}} ><a href="{{:U('/Wechat/link')}}"><i class="fa fa-ellipsis-h"></i> 链接回复</a></li>
                <li {{if condition='"__ACTION__" eq "/Wechat/text"'}} class="active" {{/if}} ><a href="{{:U('/Wechat/text')}}"><i class="fa fa-ellipsis-h"></i> 文本回复</a></li>
                <li {{if condition='"__ACTION__" eq "/Wechat/subscribe"'}} class="active" {{/if}} ><a href="{{:U('/Wechat/subscribe')}}"><i class="fa fa-ellipsis-h"></i> 关注回复</a></li>
              </ul>
            </li>
            
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
<script>
    $(function(){
        $.each($(".treeview-menu").find("li.active"),function(i,n){
            $(this).parents(".treeview-menu").parent().addClass("active");
        })
    })
</script>