{{assign name="hide_banner" value="1" /}}
{{include file="Public:header" /}}
<script src="__PUBLIC__/Home/js/my.js" type="text/javascript"></script>
<div class="container">
    

{{include file="my:menu_inc" /}}
    
<div class="col-md-10 to-inside-content">
<!-- Main content -->
    <section class="content profile-warp" style="padding-bottom:70px;background-color:#fafafa;">
        
        <h4 class="to-inside-content-header to-link-tab">
            <a href="javascript:void(0)"
             class="active">
             优惠券</a>
            <ul class="order_menu_ul">
                <li class='status_warp'>
                    <a class='{{eq name="c_status" value="0"}}curr{{/eq}}'
                        href="{{:U('/My/coupon',array("c_status" => 0))}}">未使用</a>
                    <a  class='{{eq name="c_status" value="1"}}curr{{/eq}}'
                        href="{{:U('/My/coupon',array("c_status" => 1))}}">已使用</a>
                    <a  class='{{eq name="c_status" value="2"}}curr{{/eq}}'
                        href="{{:U('/My/coupon',array("c_status" => 2))}}">已过期</a>
                   
                </li>
            </ul>
        </h4>
            {{empty name="resList.lists"}}
                <div style="margin:20px 0;text-align:center;font-size:18px;">
                    暂无相关优惠券</a>
                </div>
            {{else /}}
            {{volist name="resList.lists" id="v"}}
             <div class="ticket-order-list" style="position:relative;
            background:#fdfdfd url(__PUBLIC__/Home/img/card_tpl.png) repeat-x bottom;">
                <h4 style="font-weight: bold;line-height:30px;" class="ui-border-b">
                    <P><a href="{{:U('/My/order_detail',array(
                            'order_id' => $v['order_id']
                        ))}}">{{$v['title']|default='优惠券'}}</a> </P>
                </h4>

                <ul class="ui-list" >
                    <li >
                        <div class="ui-list-info" style="text-align:center;">
                            <h4 class="ui-nowrap">{{$v['reduce']}}元券/{{eq name="v.least_cost" value="0.00"}}全场通用{{else /}}满{{$v.least_cost}}元减{{/eq}}</h4>
                        </div>
                    </li>
                </ul>
                
                <P style="line-height:24px;padding:3px 0;
                position:relative;font-size:13px;text-align:right;"
                 class="ui-border-t">有效期
                    {{$v['time_begin']|date='Y-m-d H:i',###}} - {{$v['time_end']|date='Y-m-d H:i',###}} 
                    </span></P>
                <span style="position:absolute;right:10px;top:5px;line-height:30px;text-align:center;
                border-radius:50%;width:30px;height:30px;
                background-color:#1FBAF3;color:#fff;">减</span>
            </div>
            {{/volist}}
            {{/empty}}
            <div class=" clearfix" style="display:none;">
                {{$resList.show}}
            </div>
    </section>
    <!-- /.content -->
</div>
</div>
<script src="__STATIC__/infinitescroll/jquery.infinitescroll.js" type="text/javascript"></script>
<script>
$(function(){
    my.coupon();
})
</script> 
{{include file="Public:footer" /}}

