{{include file="Public:header" /}}
<style>td.t-left,.t-left{text-align: left;padding:0 5px;}
li.curr {position:relative;}
li.curr:after { content: "\e601";color: #017bbe;position: absolute;font-weight: normal;
    right: -5px;top: -5px;font-family: iconfont!important;font-size: 28px;
    z-index: 9; width: 16px; height: 16px; border-radius: 13px;
    line-height: 26px;text-indent: -3px;}
body{padding-bottom:80px;}.ui-label{padding:0 10px;border-radius:2px;}
.ui-form-item .fa {border-radius: 50%;background-color: #00b7ee;line-height: 22px;
    width: 22px;height: 22px; text-align: center;font-size: 14px;color: #fff;}
.fa.bg-eb6100 {    background-color: #eb6100;} 
.ui-form-item .ui-fa-r {position:absolute;top:5px;right:10px;}

</style>
<dl class="row bg-gray">
    <dd class="col-xs-12">
        <div class="widget-order-body" style="padding-top:0;">

            
                {{notempty name="error"}}
                <div class="table-con">
                    <p class="table-error">{{$error}}</p>
                </div>
                {{else /}}
                
                {{notempty name="orderRes['info']['plate_num']"}}
                <div class="ui-form-item ui-form-item-l ui-border-b">
                    <label class="ui-border-r">
                         车牌号码
                    </label>
                    <input type="text" readonly="true"  value="{{$orderRes['info']['plate_num']}}">
                    <i class="fa fa-tag ui-fa-r"></i>
                </div>
                {{/notempty}}
                {{notempty name="orderRes['info']['nickName']"}}
                <div class="ui-form-item ui-form-item-l ui-border-b">
                    <label class="ui-border-r">
                         您的称呼
                    </label>
                    <input type="text"  value="{{$orderRes['info']['nickName']}}" readonly="true" >
                    <i class="fa fa-user ui-fa-r"></i>
                </div>
                {{/notempty}}
                {{notempty name="orderRes['info']['mobile']"}}
                <div class="ui-form-item ui-form-item-l ui-border-b">
                    <label class="ui-border-r">
                         联系手机
                    </label>
                    <input type="text" value="{{$orderRes['info']['mobile']}}" readonly="true" >
                    <i class="fa fa-phone-square ui-fa-r"></i>
                </div>
                {{/notempty}}
                {{notempty name="orderRes['info']['car_series']"}}
                <div class="ui-form-item ui-form-item-l ui-border-b">
                    <label >
                        您的爱车
                    </label>
                    <input type="text" readonly="true" class="pop-brand"
                     value="{{$orderRes['info']['car_str']}}">
                </div>
                {{/notempty}}
                {{notempty name="orderRes['info']['store_id']"}}
                <div class="ui-form-item ui-form-item-l ui-border-b">
                    <label class="ui-border-r">
                        门店名称
                    </label>
                    <input type="text" readonly="true" value="{{$orderRes['info']['store_str']}}">
                </div>
                {{/notempty}}
                {{notempty name="orderRes['info']['cylinder_id']"}}
                <div class="ui-form-item ui-form-item-l ui-border-b">
                    <label class="ui-border-r">
                         发动机
                    </label>
                    <input type="text" readonly="true" value="{{$orderRes['info']['cylinder_str']}}">
                    
                </div>
                {{/notempty}}
                {{/notempty}}
            
            
            <div class="box-payStats">
   
                <div class="con-btn" style="margin:0 10px;">
                    <a class="ui-btn ui-btn-primary" 
                    href="javascript:history.back()" id="rtn_order">返回</a>
                </div>
            </div>
            
            
        </div>

    </dd>
</dl>

{{include file="Public:footer" /}}