{{assign name="hide_banner" value="1" /}}
{{include file="Public:header" /}}
<script src="__PUBLIC__/Home/js/my.js" type="text/javascript"></script>
<div class="container">
    

{{include file="my:menu_inc" /}}
    
<div class="col-md-10 to-inside-content">
<!-- Main content -->
    <section class="content profile-warp" style="padding-bottom:70px;background-color:#fafafa;">
        
        <h4 class="to-inside-content-header to-link-tab">
            <a href="?order_type={{$clean_type}}"
             class="{{eq name="order_type" value="$clean_type"}}active{{/eq}}">清洗订单</a>
            <!--a href="?order_type=product" class="{{eq name="order_type" value="product"}}active{{/eq}}">产品</a-->
            <ul class="order_menu_ul">
                <li class='status_warp'>
                    <a class='{{eq name="order_status" value="0"}}curr{{/eq}}'
                        href="{{:U('/My/order',array("order_type"=>$order_type,"order_status" => 0))}}">未付款</a>
                    <a  class='{{eq name="order_status" value="1"}}curr{{/eq}}'
                        href="{{:U('/My/order',array("order_type"=>$order_type,"order_status" => 1))}}">待确认</a>
                    <a  class='{{eq name="order_status" value="2"}}curr{{/eq}}'
                        href="{{:U('/My/order',array("order_type"=>$order_type,"order_status" => 2))}}">已付款</a>
                    {{neq name="order_type" value="$clean_type"}}
                    <a  class='{{eq name="order_status" value="3"}}curr{{/eq}}'
                        href="{{:U('/My/order',array("order_type"=>$order_type,"order_status" => 3))}}">已发货</a>
                    <a  class='{{eq name="order_status" value="4"}}curr{{/eq}}'
                        href="{{:U('/My/order',array("order_type"=>$order_type,"order_status" => 4))}}">已完成</a>
                    {{/neq}}
                </li>
            </ul>
        </h4>
            {{empty name="resList.lists"}}
                {{eq name="order_type" value="$clean_type"}}
                <div style="margin:20px 0;text-align:center;font-size:18px;">
                    暂无相关订单</a>
                </div>
                {{else /}}
                <div style="margin:20px 0;text-align:center;font-size:18px;">
                    您尚未购买任何产品</a>
                </div>
                {{/eq}}
            {{else /}}
            {{volist name="resList.lists" id="v"}}
            <div class="ticket-order-list">
                <h4 style="font-weight: bold;line-height:30px;" class="ui-border-b">
                    <P><a href="{{:U('/My/order_detail',array(
                            'order_id' => $v['order_id']
                        ))}}">订单号：{{$v['order_id']}}</a> </P>
                </h4>
                {{notempty name="v.product_info"}}
                {{eq name="v.order_type" value="$clean_type"}}
                <ul class="ui-list">
                    <li >
                        <div class="ui-list-img" style="height:55px;">
                            <span style="background-image:url({{$v['car_series']['img_url']|showPic}});
                            border-radius:5px;"></span>
                        </div>
                        <div class="ui-list-info">
                            <h4 class="ui-nowrap">{{$v['car_series']['title']}}</h4>
                            <p>{{$v['plate_num']}}</p>
                        </div>
                    </li>
                </ul>
                
                {{/eq}}
                {{/notempty}}
                <P style="line-height:30px;padding:3px 0;position:relative;" class="ui-border-t">{{$v['time_add']|date='Y-m-d H:i',###}} <span class="status" style="position:absolute;right:0;top:3px;">  
                            <i class="fa fa-rmb"></i> {{$v['price']}}
                            {{lt name="v['order_status']" value="1"}}<a href="{{:U('/Order/payment',array("order_id"=>$v['order_id']))}}"><button class="ui-btn-s">去支付</button></a>
                            {{else /}}
                            <font class="normal">{{$v['status_title']}}</font>
                            {{/lt}}
                    </span></P>
            </div>
            {{/volist}}
            {{/empty}}
            <div class=" clearfix">
                {{$resList.show}}
            </div>
    </section>
    <!-- /.content -->
</div>
</div>
<script src="__STATIC__/infinitescroll/jquery.infinitescroll.js" type="text/javascript"></script>
<script>
$(function(){
    my.order();
})
</script> 
{{include file="Public:footer" /}}

