{{include file="Public:header" /}}
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="__PUBLIC__/Home/css/my.css" rel="stylesheet" type="text/css"/>
</head>
  
  <body class="login-page" style="">
    <div class="login-box" style="max-width:420px;">
      
        <div class="login-box-body">
            <div class="social-auth-links  row" style="text-align:center;">
              <div class="col-xs-12">
                <h4 >出错啦，</h4>
                <p style="color:#666">{{$error}}</p>
              </div>
            </div>
        </div>
    </div><!-- /.login-box -->
  </body>
</html>