{{layout name="Public/layout" /}}
<link href="__PUBLIC__/static/area/css/style.css" rel="stylesheet" />
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak={{$map_baidu_key}}"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/web_site.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/area/js/area_select.js"></script>
<script type="text/javascript">
    $(function(){
        area_obj.initArea();
        var ue = UE.getEditor('container',admin_options);
        web_site.merchant_edit();
        web_site.map_init();
        
    })
    
</script>
<section class="content-header">
    <h1>
        <a href="/Merchant/index"> <button class="btn btn-primary btn-xs"> < 返回列表</button></a>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{$store_title}}</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class="box box-primary" style="overflow:hidden;">

        <!-- form start -->
        <form id="wikiForm" action="?" method="POST">

            <div class="box-body">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="title">{{$store_title}}标题</label>
                        <input type="text" class="form-control w-500"
                               value="{{$resWiki.store_name}}"
                               name="store_name" id="store_name" required placeholder="填写标题">
                    </div>
                    <div class='form-group'>
                        <label for="title"><button type="button" class="btn btn-primary logo_select">
                            <span>选择图片(200*200)</span>
                        </button></label>
                        <div class="case_logo img_div_warp" >
                            {{notempty name="resWiki.logo" }}
                            <img src="{{$resWiki.logo|showPic}}" />
                            {{/notempty}}
                        </div>
                        <div id="logo" class="files w-500"></div>
                        
                        <input type="hidden" name="logo"
                               value="{{notempty name='resWiki.logo' }}{{$resWiki.logo}}{{/notempty}}"
                               style="width:100%;height:100%;"  />
                    </div>
                    <div class="form-group">
                        <label for="title">所属地区</label>
                        <div class="w-500 area-content">
                            <div data-widget="tabs" class="m tabs" >
                                <div class="mt">
                                  <ul class="tab">
                                    <li data-index="0" data-widget="tab-item" class="curr">
                                      <a href="javascript:void(0)">
                                        <em>请选择</em>
                                        <i>
                                        </i>
                                      </a>
                                    </li>
                                    <li data-index="1" data-widget="tab-item" >
                                      <a href="javascript:void(0)" >
                                        <em>请选择</em>
                                        <i>
                                        </i>
                                      </a>
                                    </li>
                                    <li data-index="2" data-widget="tab-item" >
                                      <a href="javascript:void(0)" >
                                        <em>请选择</em>
                                        <i>
                                        </i>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="mc" data-area="0" data-widget="tab-content" style="display: none;"></div>
                                <div class="mc" data-area="1" data-widget="tab-content" style="display: none;"></div>
                                <div class="mc" data-area="2" data-widget="tab-content" style="display: block;"></div>
                                
                              </div>
                            <input type="hidden" name="city_str" value="" />
                            <input type="hidden" name="area_str" value="{{$resWiki['area_str']}}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="title">{{$store_title}}详细位置 (<i style="font-size:0.9em;">如果输入地址后点击定位按钮无法定位，请在地图上直接点击选择地点</i>)</label>
                        
                        <div class="input-group w-500">
                          <input type="text" class="form-control"
                               value="{{$resWiki.address}}"
                               name="address" id="address" required placeholder="输入地址定位" />
                          <span class="input-group-btn">
                            <button class="btn btn-default" id="locBtn" type="button">定位</button>
                          </span>
                        </div>
                        
                        <div id="map" class="w-500" 
                        style="height:250px;margin:10px 0;border:1px solid #d9d9d9;"></div>
                        
                        <input type="hidden" name="lng" value="{{if condition="$resWiki.lng eq ''"}}{{$map_baidu_x}}{{else /}}{{$resWiki.lng}}{{/if}}" />
                        <input type="hidden" name="lat" value="{{if condition="$resWiki.lat eq ''"}}{{$map_baidu_y}}{{else /}}{{$resWiki.lat}}{{/if}}" />
                    </div>

                  
                    <div class="form-group">
                        <label for="title">{{$store_title}}详情</label>
                        <script id="container" name="content" style="min-height:200px;"
                                type="text/plain" class=" w-800" required>{{$resWiki["content"]}}</script>
                    </div>
                </div>
                
            </div><!-- /.box-body -->
            <input type="hidden" name='action' value='edit_note' />
            <input type="hidden" name='id' value='{{$resWiki["id"]}}' />
            <div class="box-footer text-center">
                <button type="submit" class="btn btn-primary">提交</button>
                <button type="reset" class="btn btn-info">重置</button>
            </div>

        </form>
    </div>
</section><!-- /.content -->
{{include file='./App/Common/Tpl/fileupload_backend.tpl.html' /}}