{{layout name="Public/layout" /}}
<script type="text/javascript" src="__PUBLIC__/Admin/js/coupon.js"></script>
<script type="text/javascript">
    $(function(){
        coupon.index();
    })
    
</script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <a href="/Coupon/coupon_edit"><button class="btn btn-primary btn-xs"> + 添加优惠券</button></a>
    </h1>
    <ol class="breadcrumb">
        <li class="active">列表</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">列表</h3>
            <div class="box-tools">
                <div class="input-group">
                    <form action="{{:U('/Member/index')}}" method="get">
                    <input type="text" name="keyword" value='{{$keyword}}'
                           class="form-control input-sm " style="width: 150px;" placeholder="Search">
                    <div class="input-group-btn ">
                        <i class="fa fa-search"></i><input type='submit' class="btn btn-sm btn-default" />
                    </div>
                    </form>
                </div>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody><tr>
                        <th>ID</th>
                        <th>名称/类型</th>
                        <th>状态</th>
                        <th>发放时间</th>
                        <th>可用时间</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    {{volist name="resList.lists" id="r"}}
                    <tr>
                        <td>{{$r.id}}</td>
                        <td>{{$r.title}}/{{$r.type}}</td>
                        <td>{{notempty name="r.status"}}已启用{{else /}}已禁用{{/notempty}}</td>
                        <td>{{$r.time_start|date='Y-m-d H:i', ###}}<br />
                            {{$r.time_end|date='Y-m-d H:i', ###}}
                        </td>
                        <td>{{$r.time_valid_start|date='Y-m-d H:i', ###}}<br />
                            {{$r.time_valid_end|date='Y-m-d H:i', ###}}
                        </td>
                        <td style="max-width:300px;">{{$r['remark']}}</td>
                        <td><a class='fa fa-pencil' data-toggle="tooltip" title="编辑" href="{{:U('/Coupon/coupon_edit/',array('id'=>$r['id']))}}"></a>
                            &nbsp;&nbsp;<span data-toggle="tooltip" title="删除" class='fa fa-remove list-delete' _id='{{$r.id}}'></span></td>
                        
                    </tr>
                    {{/volist}}
                </tbody></table>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
            {{$resList.show}}
        </div>
    </div>


</section><!-- /.content -->