{{include file="Public:header" /}}
<style>td.t-left,.t-left{text-align: left;padding:0 5px;}
li.curr {position:relative;}
li.curr:after { content: "\e601";color: #017bbe;position: absolute;font-weight: normal;
    right: -5px;top: -5px;font-family: iconfont!important;font-size: 28px;
    z-index: 9; width: 16px; height: 16px; border-radius: 13px;
    line-height: 26px;text-indent: -3px;}
.ui-label{padding:0 10px;border-radius:2px;}
.ui-form-item .fa {border-radius: 50%;background-color: #00b7ee;line-height: 22px;
    width: 22px;height: 22px; text-align: center;font-size: 14px;color: #fff;}
.fa.bg-eb6100 {    background-color: #eb6100;} 
.ui-form-item .ui-fa-r {position:absolute;top:5px;right:10px;}

</style>
<script src="__STATIC__/common/js/qrcode.js"></script>
<script src="__PUBLIC__/Home/js/order.js" type="text/javascript"></script>
<dl class="row bg-gray">
    <dd class="col-xs-12">
        <div class="widget-order-body" style="padding-top:0px;">

            
                {{notempty name="error"}}
                <div class="table-con">
                    <p class="table-error">{{$error}}</p>
                </div>
                {{else /}}
                
                {{notempty name="orderRes['info']['plate_num']"}}
                <div class="ui-form-item ui-form-item-l ui-border-t">
                    <label class="ui-border-r">
                         车牌号码
                    </label>
                    <input type="text" readonly="true"  value="{{$orderRes['info']['plate_num']}}">
                    <i class="fa fa-tag ui-fa-r"></i>
                </div>
                {{/notempty}}
                {{notempty name="orderRes['info']['nickName']"}}
                <div class="ui-form-item ui-form-item-l ui-border-t">
                    <label class="ui-border-r">
                         您的称呼
                    </label>
                    <input type="text"  value="{{$orderRes['info']['nickName']}}" readonly="true" >
                    <i class="fa fa-user ui-fa-r"></i>
                </div>
                {{/notempty}}
                {{notempty name="orderRes['info']['mobile']"}}
                <div class="ui-form-item ui-form-item-l ui-border-t">
                    <label class="ui-border-r">
                         联系手机
                    </label>
                    <input type="text" value="{{$orderRes['info']['mobile']}}" readonly="true" >
                    <i class="fa fa-phone-square ui-fa-r"></i>
                </div>
                {{/notempty}}
                {{notempty name="orderRes['info']['car_series']"}}
                <div class="ui-form-item ui-form-item-l ui-border-t">
                    <label  class="ui-border-r">
                        您的爱车
                    </label>
                    <input type="text" readonly="true" class="pop-brand"
                     value="{{$orderRes['info']['car_str']}}">
                </div>
                {{/notempty}}
                {{notempty name="orderRes['info']['store_id']"}}
                <div class="ui-form-item ui-form-item-l ui-border-t ">
                    <label class="ui-border-r">
                        门店名称
                    </label>
                    <input type="text" readonly="true" value="{{$orderRes['info']['store_str']}}">
                </div>
                {{/notempty}}
                {{notempty name="orderRes['info']['cylinder_id']"}}
                <div class="ui-form-item ui-form-item-l ui-border-t">
                    <label class="ui-border-r">
                         发动机
                    </label>
                    <input type="text" readonly="true" value="{{$orderRes['info']['cylinder_str']}}">
                    
                </div>
                {{/notempty}}

                
                <div class="ui-form-item ui-form-item-l ui-border-t ">
                    <label class="ui-border-r">
                         订单号
                    </label>
                    <input type="text" readonly="true" value="{{$orderRes['order_id']}}">
                    
                </div>
                <div class="ui-form-item ui-form-item-l ui-border-t ">
                    <label class="ui-border-r">
                         订单价格
                    </label>
                    <input type="text" readonly="true" value="￥{{$orderRes['price']}}">
                    
                </div>
                <div class="ui-form-item ui-form-item-l ui-border-t ui-border-b" style="height:auto;
                overflow:hidden;">
                    <label >
                         支付方式
                    </label>
                    <div style="margin-left:100px;">
                        <ul class="ul_order_type">
                            {{volist name="payType" id="v"}}
                                {{eq name="key" value="1"}}
                                {{assign name="pay_type" value="$v['title']" /}}
                                {{/eq}}
                                <li _ext="{{$v['ext']}}"  style="line-height:25px;"
                                {{eq name="key" value="1"}}class="curr"{{/eq}}>{{$v['title']}}</li>
                            {{/volist}}
                            </ul>
                            <input type="hidden" name="pay_type" value="{{$pay_type}}" />
                            <ul class="ul_order_ext">
                                <li ext="offline" style="">
                                    <div style="line-height:30px;text-align:left;text-indent:10px; ">付款备注:</div>
                                    <textarea name="pay_remark" placeholder="请注明转账账号,时间等"
                                              class="form-control" rows="3"></textarea>
                                </li>
                                <li ext="wechat">
                                    
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="ui-form-item ui-form-item-l ui-border-b ">
                    <label class="ui-border-r">
                         优惠券抵扣
                    </label>
                    <input type="text" readonly="true" value="￥{{$orderRes['reduce']|default=0}}">
                    
                </div>

          

                {{/notempty}}
                
            
            <div class="box-payStats">
                {{empty name="error"}}
                <div class="con-btn" style="margin:0 10px;">
                    <span class="ui-btn ui-btn-primary" id="sub_to_pay">下一步</span>
                </div>
                {{else /}}
                <div class="con-btn">
                    <a class="ui-btn ui-btn-primary" href="{{:U('/My/order')}}" id="rtn_order">返回订单中心</a>
                </div>
                {{/empty}}
            </div>
            
            
        </div>

    </dd>
</dl>
<script>
    var order_status = parseInt("{{$orderRes['order_status']}}"),order_id = "{{$orderRes['order_id']}}";
    $(function(){
        order_obj.payment();
    })
</script>
{{include file="Public:footer" /}}