{{layout name="Public/layout" /}}
<style>
.order-line-info label,.order-line-info span {padding:0 5px;margin:1px 5px;margin-left:0;}
.order-line-info span {color:#3377aa;}
.store_blk {height:28px;overflow:hidden;}
.act-block {text-align:center;margin-bottom:5px;}
.store-act {line-height:20px;}
</style>
<script type="text/javascript" src="__PUBLIC__/Admin/js/order.js"></script>
<script type="text/javascript">
    $(function(){
        order.index();
        $("table").on("click",".store-act",function(){
            if($(this).hasClass("fa-chevron-down")){
                $(this).addClass("fa-chevron-up").removeClass("fa-chevron-down");
                $(".store_blk").css({"height":"auto"});
                $(this).find("span").html("收起");
            }else{
                $(this).addClass("fa-chevron-down").removeClass("fa-chevron-up");
                $(".store_blk").css({"height":"28px"});
                $(this).find("span").html("展开");
            }
        })
    })
    
</script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
         <a href="{{:U('/Order/index',array("order_type"=>$CLEAN_FORM))}}">
             <button class="btn 
                {{eq name="order_type" value="$CLEAN_FORM"}}btn-primary{{else /}}btn-default{{/eq}} btn-xs"> {{$CLEAN_PRO['title']}}订单 </button></a>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 订单</a></li>
        <li class="active">订单列表</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title status_warp">
                <a class='{{eq name="order_status" value="0"}}curr{{/eq}}'
                        href="{{:U('/Order/index',array("order_type"=>$order_type,"order_status" => 0))}}">未付款</a>
                <a  class='{{eq name="order_status" value="1"}}curr{{/eq}}'
                    href="{{:U('/Order/index',array("order_type"=>$order_type,"order_status" => 1))}}">待确认</a>
                <a  class='{{eq name="order_status" value="2"}}curr{{/eq}}'
                    href="{{:U('/Order/index',array("order_type"=>$order_type,"order_status" => 2))}}">已付款</a>
                {{neq name="order_type" value="$CLEAN_FORM"}}
                <a  class='{{eq name="order_status" value="3"}}curr{{/eq}}'
                    href="{{:U('/Order/index',array("order_type"=>$order_type,"order_status" => 3))}}">已发货</a>
                <a  class='{{eq name="order_status" value="4"}}curr{{/eq}}'
                    href="{{:U('/Order/index',array("order_type"=>$order_type,"order_status" => 4))}}">已完成</a>
                {{/neq}}

            </h3>
            <div class="box-tools">
                <div class="input-group">
                    <form action="{{:U('/Order')}}" method="get">
                    <input type="text"
                    name="keyword" value='{{$keyword}}'
                           class="form-control input-sm " style="width: 150px;" placeholder="输入订单号">
                    <div class="input-group-btn ">
                        <i class="fa fa-search"></i><input type='submit' class="btn btn-sm btn-default" />
                    </div>
                    </form>
                </div>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <thead style="border-top:1px solid #d9d9d9;">
                    <tr>
                        <td colspan="6" style="padding:0;" >
                            <div class="select_block store_blk">
                                <a href="{{:U('/Order/index',array(
                                    'order_type' => $order_type,
                                    'order_status' => $order_status
                                ))}}">全部门店</a>
                                {{volist name="merchant_arr" id="r"}}
                                <a href="{{:U('/Order/index',array(
                                    'order_type' => $order_type,
                                    'store_id' => $r['id'],
                                    'order_status' => $order_status
                                ))}}" 
                                {{eq name="r.id" value="$store_id"}}class="curr"{{/eq}}
                                >{{$r['store_name']}}</a>
                                {{/volist}}
                            </div>
                            <div class="act-block"><i class="fa fa-chevron-down store-act">&nbsp;<span>展开</span>门店</i></div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>订单号</th>
                        <th>用户</th>
                        <th>下单时间</th>
                        <th>订单状态</th>
                        <th width="80">金额</th>
                    </tr>
                    
                    {{volist name="resList.lists" id="v"}}
                    <tr>
                        <td>{{$v.id}}</td>
                        <td>{{$v.order_id}}</td>
                        <td><img src="{{$v['user']['head_img']|showPic}}"
                         style="height:35px;border-radius:3px;" /></td>
                        <td>{{$v.time_add|date='Y-m-d H:i', ###}}</td>
                        <td>{{$v['status_title']}}</td>
                        <td>
                            <i class="fa fa-rmb">{{$v['price']}}</i>
                            <!--span class='fa fa-chevron-down show_detail'
                             data-toggle="tooltip" title="订单详情" ></span-->
                        </td>
                    </tr>
                    <tr class='order_detail' style="background-color:#fafafa;">
                        <td colspan="6" >
                            
                            {{eq name="v.order_type" value="$CLEAN_FORM"}}
                            <dl class='order-info'>
                                <dd class="order-line-info">
                                    {{notempty name="v['child']['plate_num']"}}
                                    <label>车牌号码:</label><span>{{$v['child']['plate_num']}}</span>
                                    {{/notempty}}
                                    {{notempty name="v['child']['nickName']"}}
                                    <label>称呼:</label><span>{{$v['child']['nickName']}}</span>
                                    {{/notempty}}
                                    {{notempty name="v['child']['mobile']"}}
                                    <label>联系手机:</label><span>{{$v['child']['mobile']}}</span>
                                    {{/notempty}}
                                    {{notempty name="v['child']['car_series']"}}
                                    <label>爱车:</label><span>{{$v['child']['car_str']}}</span>
                                    {{/notempty}}
                                    {{notempty name="v['child']['store_id']"}}
                                    <label>门店名称:</label><span>{{$v['child']['store_str']}}</span>
                                    {{/notempty}}
                                    {{notempty name="v['child']['cylinder_id']"}}
                                    <label>发动机:</label><span>{{$v['child']['cylinder_str']}}缸</span>
                                    {{/notempty}}
                                </dd>
                            </dl>
                            {{else /}}
                            {{volist name="v.child.lists" id="r"}}
                            {{/volist}}
                            {{/eq}}
                            
                        </td>
                    </tr>
                    {{/volist}}
                </tbody></table>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
            {{$resList.show}}
        </div>
    </div>


</section><!-- /.content -->