{{layout name="Public/layout" /}}
<script type="text/javascript" src="__PUBLIC__/Admin/js/price.js"></script>
<script type="text/javascript">
    $(function(){
        price_obj.price_list();
    })
    
</script>


<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">定价列表</h3>
            <div class="box-tools">
                <div class="input-group">
                    <form action="{{:U('/Price/index')}}" method="get">
                    <input type="text" name="keyword" value='{{$keyword}}'
                           class="form-control input-sm " style="width: 150px;" placeholder="Search">
                    <div class="input-group-btn ">
                        <i class="fa fa-search"></i><input type='submit' class="btn btn-sm btn-default" />
                    </div>
                    </form>
                </div>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive price-store" style="min-height:300px;padding:20px 0;">
            {{volist name="resList['lists']" id="r"}}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <dl class="col-data-dl">
                    <dt>{{:msubstr($r['store_name'],0,30)}}[id:{{$r.id}}]</dt>
                    <dd class="dd-desc">添加日期： {{$r.time_add|date='Y-m-d H:i', ###}}</dd>
                    <dd class="price-table">
                    <table class="table table-bordered table-hover price-data" >
                    <thead>
                        <tr>
                            <th>缸数</th>
                            <th>定价</th>
                        </tr>
                    </thead>
                    {{volist name="r['cylinderList']" id="v"}}
                    <tbody class="vote-tbody" style="border-width:1px;">
                        <tr class="tr-vote">
                            <td >{{$v['title']}}</td>
                            <td class="w-100">
                                <div class="input-group">
                                  <div class="input-group-addon">￥</div>
                                  <input type="text"
                                   name="store_price" value="{{$v['price']}}" data-id="{{$v['key']}}"
                                   class="form-control " placeholder="定价">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    {{/volist}}
                    <tfoot>
                        <tr>
                            <td colspan="2" style="text-align:right;">
                                <button  store-id="{{$r.id}}"
                                class="btn btn-sm btn-primary item-act-add"> + 保存 </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                    </dd>
                </dl>
            </div>
            {{/volist}}
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
            {{$resList.show}}
        </div>
    </div>


</section><!-- /.content -->